site_name: Documentation DWH Terraform
site_description: Documentation - Data Warehouse avec Terraform
site_author: Steven Delval

theme:
  name: material
  palette:
    primary: blue
    accent: indigo

nav:
  - Accueil: index.md
  - Base de données: database.md
  - DBT: shopnow_dbt.md
  - Terraform: terraform/README.md
  - Producteurs d'événements: events_producers.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format